{% extends "base.html" %}

{% block title %}Director - {{ director }}{% endblock %}

{% block header-title %}{{ director }}{% endblock %}

{% block content %}
<p>{{ director.fecha_nacimiento}} - {{director.fecha_muerte | default_if_none:""}}</p>

<h4>Peliculas</h4>
<table>
    <tr>
        {% for pelicula in director.peliculas.all %}
        <td onclick="window.location.href='pelicula/{{pelicula.id}}'">
            <span class="nombre_pelicula">{{ pelicula }}</span>
        </td>
        {% cycle '' '' '</tr><tr>' %}
    {% empty %}
    <td>No hay peliculas aún</td>
    {% endfor %}
</tr>
</table>
{% endblock %}